body {
  background-color: black;
}

.bgHome {
  height: 100vh;
  background-color: black;
}

.containerLogin {
  height: 100vh;
  background-color: black;
  background-size: cover;
}

nav a.active {
  color: rgb(189, 30, 30) !important;
  text-decoration: none;
  font-weight: bold;
}

.formLogin {
  width: 300px;
  background-color: rgb(33, 32, 32);
}

.formInput {
  background-color: rgb(67, 66, 66) !important;
  color: rgb(213, 209, 209) !important;
  border-color: rgb(67, 66, 66) !important;
}

::placeholder {
  color: rgb(210, 206, 206) !important;
}

.buttonLogin {
  background-color: rgb(189, 30, 30) !important;
  border: none;
  color: rgb(199, 198, 198);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.buttonLogin:hover {
  background: #d11111 !important;
}

.buttonLeft {
  background-color: rgb(189, 30, 30) !important;
  border: none;
  color: white !important;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonLeft:hover {
  background: #e00c0c !important;
}

.buttonLeft1 {
  background-color: black !important;
  border: none;
  color: white !important;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonLeft1:hover {
  background: #e00c0c !important;
}
.navbarBg {
  background-color: black !important;
}

.bgProduct {
  background-color: black !important;
}

.bgCard {
  border: none !important;
}

.cardPrice {
  border-radius: 5px !important;
}

.descProduct {
  text-align: justify;
}

.detailTransaction p {
  font-size: 12px !important;
}

.bgTransac {
  background-color: rgb(40, 39, 39) !important;
}

.buttonList {
  background-color: rgb(81, 170, 81) !important;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.buttonList1 {
  background-color: rgb(199, 68, 68) !important;
  border: none;
  color: white;
  padding: 5px 13px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.buttonList:hover {
  background: rgb(45, 164, 45) !important;
  box-shadow: 0px 0px 10px #7e7070;
}

.buttonList1:hover {
  background: rgb(202, 55, 55) !important;
  box-shadow: 0px 0px 10px #7e7070;
}

.formInputDetail {
  background-color: rgb(67, 66, 66) !important;
  color: rgb(213, 209, 209) !important;
  border-color: rgb(181, 178, 178) !important;
  border-radius: 5px !important;
}

.buttonLoginDeatil {
  background-color: rgb(81, 170, 81) !important;
  border: none;
  color: rgb(199, 198, 198);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.buttonLoginDeatil:hover {
  background: rgb(57, 173, 57) !important;
  box-shadow: 0px 0px 10px #7e7070;
}

.label-file-add-product {
  background: #f74d4d;
  color: white;
  padding: 0.5rem 1rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.label-file-add-product:hover {
  background: rgb(202, 55, 55) !important;
  box-shadow: 0px 0px 10px #7e7070;
}

.product-card:hover {
  box-shadow: 0px 0px 10px #6b6161;
}

.navbar-bolder:hover {
  font-weight: bolder;
  color: #dc2525 !important;
}

.status-transaction-success {
  background-color: #1ba332b0;
}

.status-transaction-pending {
  background-color: #bbbd285b;
}

.status-transaction-failed {
  background-color: #bb32325b;
}
